.project
.settings/*
ons-model/.classpath
ons-model/.project
ons-model/.settings/*
ons-model/bin/*
ons-model/target/*
ons-persist/.classpath
ons-persist/.project
ons-persist/.settings/*
ons-persist/bin/*
ons-persist/target/*
ons-selenium/.classpath
ons-selenium/.project
ons-selenium/.settings/*
ons-selenium/bin/*
ons-selenium/target/*
ons-service/.classpath
ons-service/.project
ons-service/.settings/*
ons-service/bin/*
ons-service/target/*
ons-webapp/.classpath
ons-webapp/.project
ons-webapp/.settings/*
ons-webapp/bin/*
ons-webapp/target/*
ons-command/.classpath
ons-command/.project
ons-command/.settings/*
ons-command/bin/*
ons-command/target/*

