<article>
	<label for="surname">Surname</label>
	<input id="surname" ng-model="surname" name="surname">
	<label for="firstName">First Name</label>
	<input id="firstName" ng-model="firstName" name="firstName">
</article>

<article>
	<form name="addForm" ng-submit="add(newFirstName)">
	<input ng-model="newFirstName" >
	
	<input type="submit" value="Add" >
	</form>
</article>


<article>
	<table width="100%">
		<tr>
			<th>First Name</th>
			<th>Surname</th>
			<th>Date Of Birth</th>
			<th>Father</th>
			<th>Mother</th>
		</tr>
 	 	<tr ng-repeat="person in addPersonForm.personDetails | filter:surname | filter:firstName">
  			<td><a href="#/ons-command/rest/persons/{{person.person.entityId}}">{{person.person.firstName}}</a></td>
 			<td>{{person.person.surname.surname}}</td>
			<td>{{person.birthDate}}</td>
			<td>{{person.fatherDetails}}</td>
			<td>{{person.motherDetails}}</td>  
		</tr>
	</table>
</article>


