<article>
	<label for="surname">Surname</label>
	<input id="surname" ng-model="surname" name="surname">
	<label for="firstName">First Name</label>
	<input id="firstName" ng-model="firstName" name="firstName">
</article>

<article>
	<table width="100%">
		<tr>
			<th>First Name</th>
			<th>Surname</th>
			<th>Date Of Birth</th>
			<th>Father</th>
			<th>Mother</th>
		</tr>
		<tr ng-repeat="person in persons | filter:surname | filter:firstName">
			<td><a href="#/ons-command/rest/persons/{{person.entityId}}">{{person.firstName}}</a></td>
			<td>{{person.surname}}</td>
			<td>{{person.birthDate}}</td>
			<td>{{person.fatherDetails}}</td>
			<td>{{person.motherDetails}}</td>			
		</tr>
	</table>
</article>


