/* app css stylesheet */

body {
	font-family: verdana;
	font-size:1.3em;
}

th {
	border: 1px solid #555;
	color: #FFF;
	background-color: #555;
}

td {
	border: 1px solid #D4D4D4;
	
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
}

section, article {
	border:1px solid grey; 
	margin:5px; 
	padding:8px;
}

