div {
	
	font: italic bold 12px/30px Georgia, serif;
}

#heading {
	background-color: red;
}

#sideBarLeft {
	float:left; 
	width:15%;
	background-color: yellow;
}

#content {
	float:left; 
	width:80%; 
	margin-left:5%;
	background-color: green;
}